{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'InternalStructure/css/internal_structure.css' %}" >
</head>
<body>
<div id="add_pat">
    <table id="table_add_pat">
        <tr>
            <td colspan="2">Добавить запись в Группы операций</td>
        </tr>
         <tr>
            <td>Группы операций</td>
        </tr>
        <tr>
            <form method="POST">
                {% csrf_token %}
                <td>{{ rec_form.group_operation }}</td>

                <td><input type="submit" value="Добавить" ></td>
            </form>
        </tr>
    </table>
</div>

<div>Группы операций</div>

<table id="Table_list">
    <tr class="Table_list_pat_head">
        <th>id</th>
        <th>Группы операций</th>
    </tr>
        {% for rec in list_of_records %}
            <tr>
                <td>{{ rec.id }}</td>
                <td>{{ rec.group_operation }}</td>
                <td><a href="{% url 'delete_group_operation' id_record=rec.id %}">Удалить</a></td>
                <td><a href="{% url 'edit_group_operation' id_record=rec.id %}">Исправить</a></td>
             </tr>
        {% endfor %}
</table>

</body>
</html>