{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Гиппократ - медицинская информационная система</title>
    <link rel="stylesheet" href="{% static 'Main/css/index.css' %}" type="text/css">
</head>
<body>
    <div id="header">Гиппократ - медицинская информационная система</div>
    <div id="headertwo">
        <table>
            <tr>
                <td><a href="{% url 'list_pat_part_one' %}">Лист движения пациентов</a></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div id="main">
        <div id="left_col_body">
            <table>
                <tr>
                    <td>Инструменты</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        <div id="main_col_body">{% block content %} {% endblock %}</div>


</body>
</html>