#Table_list th {
	background: #50995e5e;
}

#Table_list tbody tr:nth-child(odd){
	background: #b3e5bd;
}

#Table_list tbody tr:nth-child(even){
	background: #b3e5bdb2;
}

#table_add_pat td{
    text-align: left; width: 70px;
}

#add_pat{
    margin-bottom: 10px;
}

#id_Date{
    width: 70px;
}

#id_FNL{
    width: 130px;
}

#id_TransferFrom{
    width: 130px;
}

#id_Release{
    width: 130px;
}

#id_ReleaseTo{
    width: 130px;
}

#id_ReleaseToDepart{
    width: 130px;
}

#id_Die{
    width: 130px;
}

