#Table_list th {
	background: #50995e5e;
}

#Table_list tbody tr:nth-child(odd){
	background: #b3e5bd;
}

#Table_list tbody tr:nth-child(even){
	background: #b3e5bdb2;
}

#table_add_pat td{
    text-align: left; width: 100px;
}

#add_pat{
    margin-bottom: 10px;
}

#id_Date{
    width: 70px;
}

#id_Depart{
    width: 70px;
}

#id_OnStartDay{
    width: 70px;
}

#id_Receive{
    width: 70px;
}

#id_TransferFrom{
    width: 70px;
}

#id_TransferTo{
    width: 70px;
}

#id_ReleaseTotal{
    width: 70px;
}

#id_RelTotalTo{
    width: 70px;
}

#id_Die{
    width: 70px;
}

#id_Remain{
    width: 70px;
}